
/* FOOTER */

.space-footer{
position:relative;
background:rgba(0,0,30,0.17);
backdrop-filter:blur(6px);
padding:80px 20px 40px;
color:white;
overflow:hidden;
}

/* STAR BACKGROUND */

.footer-stars{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background-image:
radial-gradient(white 1px, transparent 1px),
radial-gradient(white 1px, transparent 1px);
background-size:40px 40px;
background-position:0 0,20px 20px;
opacity:0.12;
animation:starMove 80s linear infinite;
z-index:0;
}

@keyframes starMove{
from{transform:translateY(0);}
to{transform:translateY(-1000px);}
}

/* CONTAINER */

.footer-container{
position:relative;
z-index:2;
max-width:1200px;
margin:auto;
display:grid;
grid-template-columns:1fr 1fr 1fr;
gap:40px;
align-items:center;
}

/* LINKS */

.footer-links{
display:flex;
flex-direction:column;
gap:10px;
transform: translate(120px);
}

.footer-links h3{
color:#00eaff;
margin-bottom:10px;
}

.footer-links a{
color:#ccefff;
text-decoration:none;
transition:0.3s;
}

.footer-links a:hover{
color:#00eaff;
}

/* LOGO CENTER */

.footer-logo{
text-align:center;
}

.footer-logo img{
width:80px;
margin-bottom:10px;
}

.footer-logo h2{
margin-bottom:15px;
color:#00eaff;
}

/* DEVELOPERS BUTTON */

.dev-btn{
display:inline-block;
padding:10px 20px;
border-radius:10px;
background:linear-gradient(45deg,#00eaff,#0077ff);
color:white;
text-decoration:none;
font-weight:bold;
transition:0.3s;
}

.dev-btn:hover{
box-shadow:0 0 20px #00eaff;
transform:translateY(-3px);
}

/* CONTACT */

.footer-contact h3{
color:#00eaff;
margin-bottom:10px;
}

.footer-contact p{
color:#ccefff;
margin-bottom:8px;
line-height:1.6;
}

/* BOTTOM */

.footer-bottom{
margin-top:20px;
text-align:center;
border-top:1px solid rgba(255,255,255,0.1);
padding-top:20px;
font-size:14px;
color:#9fdcff;
}

/* TABLET */

@media (max-width:680px){

.footer-container{
grid-template-columns:1fr 1fr;
gap:30px;
}

.footer-logo{
grid-column:span 2;
}

}
/* MOBILE */

@media (max-width:480px){

.space-footer{
padding:80px 20px 30px;
}

.footer-container{
grid-template-columns:1fr;
text-align:center;
gap:35px;
}

.footer-links{
align-items:center;
}

.footer-contact{
text-align:center;
}

.footer-logo img{
width:70px;
}

}
